<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <ul class="menu">
        <li class="left">@if (ViewBag.Name == "Home") { Html.ActionLink("ChooseResto", "Index", "Home", new { area = "" }, new { @class = "navbar-active" }); }
        else { Html.ActionLink("ChooseResto", "Index", "Home", new { area = "" }, new { @class = "navbar" }); }</li>
        <li class="right">@if (ViewBag.Name == "Login") { Html.ActionLink("Connect", "Index", "Login", new { area = "" }, new { @class = "navbar-active" }); }
        else { Html.ActionLink("Connect", "Index", "Login", new { area = "" }, new { @class = "navbar" }); }</li>
        <li class="right">@if (ViewBag.Name == "Login") { Html.ActionLink("Survey", "Index", "Vote", new { area = "" }, new { @class = "navbar-active" }); }
        else { Html.ActionLink("Survey", "Index", "Vote", new { area = "" }, new { @class = "navbar" }); }</li>
        <li class="right">@if (ViewBag.Name == "Login") { Html.ActionLink("List Resto", "Index", "Restaurant", new { area = "" }, new { @class = "navbar-active" }); }
        else { Html.ActionLink("List Resto", "Index", "Restaurant", new { area = "" }, new { @class = "navbar" }); }</li>      
    </ul>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</body>
</html>