@model List<ChooseRestaurant.Models.Results>
@{
    ViewBag.Title = "ShowResults";
    ViewBag.Name = "Vote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Results of the survey :</p>
<table>
    <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Number of votes</th>
    </tr>
    @foreach (var resto in Model)
    {
        <tr>
            <td>@resto.Name</td>
            <td>@resto.Phone</td>
            <td>@resto.NumberOfVotes</td>
        </tr>
    }
</table>

