@{
    ViewBag.Title = "Index";
    ViewBag.Name = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Ready to choose a restaurant ?</p>
@using (Html.BeginForm())
{
    <input type="submit" value="Create survey" />
}
<ul>
    <li>@Html.ActionLink("Add restaurant", "CreateRestaurant", "Restaurant")</li>
    <li>@Html.ActionLink("Modify restaurants", "Index", "Restaurant")</li>
</ul>
